/* reset */

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

ul{
  list-style: none;
}

body, .page {
  background-color: #F5F6F7;
}


/* lib */
.link{
  color: #1AAD19;
}
.weui-cell{
  background-color: #fff;
}

.g-ta-right{
  text-align: right;
  padding-bottom: 10px;
}

.g-mright-10{
  margin-right: 10px;
  overflow:visible;
}

.g-mbottom-10{
  margin-bottom: 10px;
}


/* 主页样式 */
#app .weui-cell_hd{
  position: relative;
}

#app .weui-cell__bd{
  text-align: right;
  padding-right: 10px;
}

#app .g-index-badge{
  margin-left: 5px;
}

#app .g-index-search{
  left: 93%;
}
#app .g-index-phone{
  font-size: 0.6rem;
  position: absolute;
  top: 20px;
  left: 1px;
}

#app .g-index-status{
  float: right;
  color: rgb(15, 15, 15);
}

#app .g-index-start-scan{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#app .g-index-button{
  display: inline-block;
  background-color: rgba(153, 153, 153, 0.6);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #FFF;
  font-size: 1em;
  border-width: 0px;
}
#app .g-index-btn-text{
  text-align: center;
}

#app .g-index-loading{
  text-align: center;
  color: #999;
  height: 0;
  transition: height 0.5s ease-in-out;
}
#app .g-index-loading.active{
  height: 24px;
}

#app .g-index-return {
  background-color: #3399CC;
}
