doctype html
html
  head
    title= '404'
    script(type="text/javascript", src="main.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
  body
    #phone
      p(class="g-phone-info")= msg
