doctype html
html
  head
    title= '快递派件'
    script(type="text/javascript", src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    script(type="text/javascript", src="client/js/main.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    meta(charset="utf-8")
  body
    div(class="weui-msg")
      div(class="weui-msg__icon-area")
        i(class="weui-icon-warn weui-icon_msg")
      div(class="weui-msg__text-area")
        p(class="weui-msg__desc")= title
        p(class="weui-msg_desc")= msg
