div(class="g-message-toast" style="display: none;")
  div(class="weui-mask_transparent")
  div(class="weui-toast")
    i(class="weui-icon-success-no-circle weui-icon_toast")
    p(class="weui-toast__content g-message-toast-text")
div(style="display: none;" class="g-message-snack-bar" id="g-snack-bar")
  div(class="weui-mask")
  div(class="weui-dialog")
    div(class="weui-dialog__hd")
      strong(class="weui-dialog__title g-message-snack-title")
    div(class="weui-dialog__bd g-message-snack-text")
    div(class="weui-dialog__ft")
      a(class="weui-dialog__btn weui-dialog__btn_primary") 确定
